.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Div {
  display: flex;
  margin-top: 20px;
  gap: 30px;
}
.Text {
  font-size: 200px;
  animation-name: fade, move-object;
  animation-duration: 3s, 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes move-object {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(200%);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
